@import url('https://fonts.googleapis.com/css2?family=Tapestry&family=Teko:wght@300..700&display=swap');
/* Importando fontes do google fonts, Tapestry e Teko, pesos variando de 300 e 700, definindo a forma de exibir p/ 'swap' */

* {  /*definindo todos os elementos (*) devem ter margem e preenchimento igual a zero, e o box-sizing deve ser 'border-box', largura e altura inclue a borda e o preenchimento, e não margem*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*define a cor do fundo do documento como cor escura e a cor do texto como branco*/
    background: #F5DEB3;
    color: #D8BFD8;
}

html { /*define o font-family p/ o html como 'Inter' e 'sans-serif', largura da fonte de 600, que é uma unidade de medida semântica forte*/
    font-family: Inter, sans-serif;
    font-weight: 600;
}

a { /*Remove a decoração de texto (sublinhado) de todos os links*/
    text-decoration: none;
}

ul { /*remove os estilos padrão das listas não ordenadas, tipo ponto e número*/
    list-style: none;
}

nav { /*Estilizando a navegação 'nav'*/
    max-width: 1120px;                            /* define a largura máxima de 1120 pixels */
    margin: auto;                                 /* margens automátias p/ centralizar */  
    padding: 1.5rem 10rem;                        /* Preenchimento lateral de 10rem / 160 pixels */

    display: flex;                                /* Usa o flexbox para alinhar os itens do nav horizontalmente*/
    flex-direction: row;
    justify-content: space-between;               /* Espaços entre eles*/
    align-items: center; /* Itens da primeira parte da página alinhadas no centro */
}

.logo {   /* Estilizando o elemento dentro do html com a classe '.logo', vai especificar a fonte, o tamanho, espessura e transformando o texto todo em Maiusculas*/
    font-family: teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;  /*Transforma todo o texto dentro do elemento com a classe '.logo' em maiusculas, e vai ser exibido em letra maiuscula, independente do que foi escrito anteriormente*/
}

.menu {
    display: flex;  /* Os itens dentro do elemento com a classe '.menu' vão ser dispostos da esquerda para a direta */
    flex-direction: row;  /* Especifica os itens dentro devem ser organizados em uma linha horizontal */
    gap: 1.5rem; /* Define um espaço entre os itens de 1.5rem, e vai uniformizando o espaçamento*/
    color: #BC8F8F; /* cor do texto */
}

.github {
    color: #900C3F;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background: #D2B48C;
}

.hero {
    background: #241a1c;

    max-width: 1120px;
    height: 60vh; /* VH é a altura da tela da máquina */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

.amarelo {
    color: #C70039;
}

h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;

}

.hero-subtitulo {
    color: #A0522D;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 1rem;

}

.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate(0, "-50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;

    background: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;

}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.receitas-titulo {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: #C70039;
}

.receitas.subtitulos {
    color: #FF6347;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.receitas-card {
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.receita-avaliacao {
    color: #756a67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img {
    border-radius: 20rem;
    width: 1.5rem; 
}

.receita-autor-nome {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}